@media (max-width: 768px){
    .carusel {
        display: none;
    }
    .container {
        max-width: 650px;
    }
    .promo {

    
        &__wrapper {
            align-items: center;
    }
}
}
@media (max-width: 600px) {
    .container {
        max-width: 450px;
    }
    .catalog {
        &__tab {
            div {
                height: 30px;
                font-size: 12px;
            }
                }
    .catalog__content {
            justify-content: center;
        }
    }
    .footer {
        position: absolute;
        height:250px ;
        iframe {
            display: none;
        }
    .footer__info {
        width: 100%;
        height: 250px;
        }
    }
    

}